<web-app xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
version="3.0">

    <display-name>TypeAhead</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:context/context.xml, classpath:context/mongo-context.xml,
            classpath:context/redis-context.xml</param-value>
    </context-param>

    <!-- Initializes the Spring container -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>type-ahead-api</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet>
        <servlet-name>type-ahead-app-api</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>type-ahead-app-api</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>type-ahead-api</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <mime-mapping>
        <extension>json</extension>
        <mime-type>application/json</mime-type>
    </mime-mapping>
    <welcome-file-list>
        <welcome-file>/authenticate</welcome-file>
    </welcome-file-list>

</web-app>