<section class="utopia-widget statistics-widget">
    <div class="utopia-widget-title">
        <img src="/img/icons/list.png" class="utopia-widget-icon">
        <span>Interviewer Statistics</span>
    </div>

    <div class="utopia-widget-content">
        <div class="row-fluid">
            <div class="span12">
                <h3>In-Person Interviews</h3>
                <ul class="list-renderer">
                    <li>
                        <span class="name">Adam Scherer</span>
                        <span class="value">80%</span>
                    </li>
                    <li>
                        <span class="name">Sean Shelby</span>
                        <span class="value">10%</span>
                    </li>
                </ul>
                
                <h3>Resume Reviews</h3>
                <ul class="list-renderer">
                    <li>
                        <span class="name">Adam Scherer</span>
                        <span class="value">80%</span>
                    </li>
                    <li>
                        <span class="name">Sean Shelby</span>
                        <span class="value">10%</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>