<section class="utopia-widget">
    <div class="utopia-widget-title">
        <a class="btn btn-mini x-add-recruit" href="#"><img src="/img/icons/user.png" title="user"> Add Recruit</a>
        <img src="/img/icons/user.png" class="utopia-widget-icon">
        <span>Unstaged Recruits</span>
    </div>

    <div class="utopia-widget-content">
        <table class="table table-bordered datatable">

            <colgroup>
                <col class="utopia-col-0">
                <col class="utopia-col-1">
                <col class="utopia-col-0">
            </colgroup>

            <thead>
                <tr>
                    <th class="header <% if (data.sort.property == 'firstName') { %>headerSortDown<% } %>" data-sort="firstName">Name</th>
                    <th class="header <% if (data.sort.property == 'stage') { %>headerSortDown<% } %>" data-sort="stage">Stage</th>
                    <th>Bucket Score</th>
                </tr>
            </thead>

            <tbody>
                <% _.each(data.models, function(recruit, i) { %>
                <tr>
                    <td><a href="#/recruit/<%= recruit.id%>"><%= recruit.firstName%> <%= recruit.lastName%></a></a></td>
                    <td><%= recruit.stage%></td>
                    <td><span class="badge badge-warning"><%= recruit.bucketScore.toFixed(2)%></span></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        
        <div class="row-fluid">
            <div class="span6">
                <div class="dataTables_length">
                    <label>
                        <select id="totalRows">
                            <option value="5" <% if (data.pagination.size == 5) { %>selected="selected"<% } %>>5</option>
                            <option value="10" <% if (data.pagination.size == 10) { %>selected="selected"<% } %>>10</option>
                            <option value="25" <% if (data.pagination.size == 25) { %>selected="selected"<% } %>>25</option>
                            <option value="50" <% if (data.pagination.size == 50) { %>selected="selected"<% } %>>50</option>
                            <option value="100" <% if (data.pagination.size == 100) { %>selected="selected"<% } %>>100</option>
                        </select>
                        rows per page
                    </label>
                </div>

            </div>
            <div class="span6">
                <div class="pagination pagination-right" data-page="<%= data.pagination.number + 1 %>">
                  <ul>
                    <li <% if (data.pagination.firstPage) { %>class="disabled"<% } %>><a href="#" class="prev">&laquo;</a></li>
                    <li class="active"><a href="#"><%= (data.pagination.number * data.pagination.size) + 1 %> - <%= ((data.pagination.number * data.pagination.size)) + data.pagination.numberOfElements %> of <%= data.pagination.totalElements %></a></li>
                    <li <% if (data.pagination.lastPage) { %>class="disabled"<% } %>><a href="#" class="next">&raquo;</a></li>
                  </ul>
                </div>
            </div>
        </div>
    </div>

</section>