<div id="status-section" class="row-fluid"></div>
<div id="status-details" class="row-fluid"></div>
<div class="row-fluid">

    <div class="span12">

        <div class="row-fluid">
            <!-- Mid panel -->
            <div class="span7">
                <div class="row-fluid">
                    <div id="top-recruits-widget" class="span12"></div>
                </div>

                <div class="row-fluid">
                    <div id="activity-widget" class="span12"></div>
                </div>
            </div>
            <!-- Right panel -->
            <div class="span5">
                <div class="row-fluid">
                    <div id="recruit-statistics-widget" class="span12"></div>
                </div>

                <div class="row-fluid">
                    <div id="interviewer-statistics-widget" class="span12"></div>
                </div>
            </div>

        </div>

    </div>
</div>