<div class="row">
	<div class="span12 navbar">
		<ul class="nav pull-right">
			<li>
				<a href="https://keystone.roundarch.com" target="_blank">Keystone</a>
			</li>
			<li>
				<a href="https://keystone.roundarch.com/jira" target="_blank">JIRA</a>
			</li>
			<li>
				<a href="https://keystone.roundarch.com/bamboo" target="_blank">Bamboo</a>
			</li>
		</ul>
		<ul class="nav">
			<li>
				<a href="http://www.roundarch.com">&copy;2012 Roundarch Isobar</a>
			</li>
		</ul>
	</div>
</div>