<div class="row-fluid">

    <div class="span9">
        <section class="utopia-widget">
            <div class="utopia-widget-content">
                <div id="utopia-google-map-5" class="utopia-map"></div>
            </div>
        </section>
    </div>

    <div class="span3 map-legend">
        <div class="columnTitle">
            States
        </div>
        <ul class="list-renderer">
            <%
            //_.each(data.majors, function(major) {
            %>
            <li>
                <span class="name">California</span>
                <span class="value">29%</span>
            </li>
            <li>
                <span class="name">Illinois</span>
                <span class="value">28%</span>
            </li>
            <li>
                <span class="name">New York</span>
                <span class="value">23%</span>
            </li>
            <%
            //});
            %>
        </ul>
    </div>

</div>