<div class="span12">

    <div class="header-top">

        <div class="header-wrapper">
            <a href="#/main">
                <img class="header-logo" src="/img/recruit-logo.jpg" alt="Recruit Bucket">
            </a>

            <div class="header-right">

                <div class="header-divider">&nbsp;</div>

                <div class="user-panel header-divider">
                    <div class="user-info">
                        <img src="img/icons/user.png" alt="">
                        <a href="#"><%= data.firstName %> <%= data.lastName %></a>
                    </div>

                    <div class="user-dropbox">
                        <ul>
                            <!--<li class="user"><a href="#">Profile</a></li>-->
                            <li class="logout"><a id="logout" href="#">Logout</a></li>
                        </ul>
                    </div>

                </div><!-- User panel end -->

            </div><!-- End header right -->

        </div><!-- End header wrapper -->

    </div><!-- End header -->

</div>