<fieldset>
    <div class="control-group">
        <label class="control-label">Company</label>
        <div class="controls">
            <input class="input-fluid" type="text" name="name" value="<%= data.name || ''%>">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Position</label>
        <div class="controls">
            <input class="input-fluid" type="text" name="position" value="<%= data.position || ''%>">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Start Date</label>
        <div class="controls">
            <input class="input-fluid" type="text" name="mobileNumber" value="<%= data.mobileNumber || ''%>">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">End Date</label>
        <div class="controls">
            <input class="input-fluid" type="text" name="homeNumber" value="<%= data.homeNumber || ''%>">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Description</label>
        <div class="controls">
            <input class="input-fluid" type="text" name="description" value="<%= data.description || ''%>">
        </div>
    </div>

    <hr/>
</fieldset>