<div id="myModal" class="modal hide fade">
    <div class="modal-header">
        <h3><img class="header-logo" src="/img/recruit-logo.jpg" alt="Recruit Bucket"></h3>
    </div>
    <div class="modal-body shaded">
        <div class="alert alert-error hide">
            <strong>Hmmm...</strong> Double check your username and password and try submitting again.
        </div>
        <form class="" action="/">
            <div class="login-box">
                <div class="control-group" >
                    <label><b>Username</b></label>
                    <input name="username" type="text" class="span5">
                    <label><b>Password</b></label>
                    <input name="password" type="password" class="span5">
                </div>
                <div class="control-group">
                    <button type="submit" class="btn-large btn-primary">
                        Sign In
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>