<header class="navbar">
    <div class="container">
        <a href="/" class="brand">
            <img src="/images/logo-2.png" alt="Type Ahead" class="scale-with-grid" />BETA
        </a>
        <div class="nav-collapse">
            <ul class="nav pull-right actions">
                <li class="logout"><a id="logout" href="#">Logout</a></li>
            </ul>
            <ul class="nav pull-right">
                <li><a href="/docs.html">Docs + Examples</a></li>
            </ul>
        </div>
    </div>
    <div class="bottom-gradient">
        <span class="left"></span>
        <span class="center"></span>
        <span class="right"></span>
    </div>  
</header>